cliff
flake8
tox==3.23.0
cookiecutter>=1.4.0
pytest==5.4.3
pytest-cookies==0.5.1
watchdog==2.0.2
alabaster==0.7.12
twine==3.3.0
pep517==0.9.1
setuptools>=42
setuptools_scm
python_secrets
sphinx
sphinx_rtd_theme
slither-analyzer
py-solc
py-solc-x
web3
